.keys{
    width: 60px;
    height: 60px;
    background-color: rgb(155, 155, 224);
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}
input{
    height: 100px;
    width: 280px;
}
body{
    width : 300px;
    margin-left: 45%;
    margin-top: 150px;
}

.total{
    border: 5px solid #8B4513;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    background-color: #f4f4;
}
